
 @model IEnumerable<Farma.Models.Medicamento>

@{
    ViewData["Title"] = "Medicamentos Próximos a Vencer";
}

<h1>Medicamentos Próximos a Vencer</h1>

<form asp-action="ProximosAVencer" method="get">
    <div class="form-group">
        <label for="meses">Meses:</label>
        <input type="number" name="meses" id="meses" class="form-control" required />
    </div>
    <p></p>
    <div class="form-group">
        <input type="submit" value="Buscar Medicamentos Próximos a Vencer" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaVencimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var rowClass = "";
            if (item.FechaVencimiento <= DateTime.Now)
            {
                rowClass = "vencido";
            }
            else if (item.FechaVencimiento <= DateTime.Now.AddDays(5))
            {
                rowClass = "proximo";
            }
            else if (item.FechaVencimiento <= DateTime.Now.AddDays(30))
            {
                rowClass = "pronto";
            }
            else
            {
                rowClass = "vigente";
            }
            <tr class="@rowClass">
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaVencimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Saldo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Nombre)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.6.0.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

@* @section Styles {
    <link rel="stylesheet" href="~/css/proximosvencer.css" />
} *@
