@model IEnumerable<Farma.Models.Medicamento>

@{
    ViewData["Title"] = "Medicamentos Sin Stock";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}
else if (TempData["SuccesMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccesMessage"]
    </div>
}

<h2>Medicamentos Sin Stock</h2>

<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Forma Farmaceutica</th>
            <th>Fecha de Vencimiento</th>
            <th>Lote</th>
            <th>Cantidad</th>
            <th>Categoría</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FormaFarmaceutica.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaVencimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Nombre)
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="ProximosAVencer" class="btn btn-secondary">Próximos a vencer</a>
    <a asp-action="ListaSimple" class="btn btn-secondary">Lista Completa</a>
</p>

@section Scripts {

    <script>
        $(document).ready(function () {
            var errorMessage = '@TempData["ErrorMessage"]';
            var succesMessage = '@TempData["SuccesMessage"]';
            if (errorMessage) {
                alert(errorMessage);
            }
            else if (succesMessage) {
                alert(succesMessage);
            }
        });
    </script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.6.0.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.0/signalr.min.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/medicamentosHub")
            .build();

        connection.on("ReceiveMessage", (user, message) => {
            console.log("Mensaje recibido: ", message);
            alert("Mensaje recibido: " + message);  // Agrega un alert para diagnosticar
            // Aquí puedes recargar la tabla o actualizar los datos de alguna forma
            location.reload();
        });

        connection.start()
            .then(() => console.log('Conectado a SignalR'))
            .catch(err => console.error('Error al conectar a SignalR:', err.toString()));
    </script>

}

